@font-face{
    font-family: invaders;
    src: url('./res/INVADERS.TTF');
}

body {
    background-image: url("./res/jake-weirick-581398-unsplash.jpg");
    background-color: #000;
    background-size: cover;
}

canvas {
    background: #000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-style: solid;
    border-color: green;
}

.hidden {
    display: none;
}
#statusBar {
    margin-left: 34%;
    margin-top: 2%;
}

.lives {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(./res/invaders.png) 58px 0px;
}
#livesContainer {
    color: rgb(60, 206, 65);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.score {
    display: inline-block;
    color: rgb(60, 206, 65);
    font-weight: bold;
    font-size: 20;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 21%
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    font-size: 16px;
    width: 200px;
    margin-top: 10%;
    margin-left: 43%; 
}

.userguide {
    margin: auto;
    color: white;
    margin-left: 20px;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    z-index: -1;
}

.button:hover {
    background-color: rgb(46, 107, 48);
}

.title {
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'invaders';
    font-size: 100px;
    margin-top: 1%;
}

#endScreen {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 300px;
    margin: auto;
    background-color: #f71c1c;
z-index: 1;

    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#endScreen.hidden {
    display: none;
}