@font-face{
    font-family: invaders;
    src: url('./res/INVADERS.TTF');
}

body {
    background-image: url("./res/jake-weirick-581398-unsplash.jpg");
    background-color: #000;
    background-size: cover;
}
#header {
    height: 120px;
    display: block;
}
#middle {
    display: block;
    padding: 20px 0px 0px 0px;
    height: 650px;
}
#footer {
    display: block;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
}

#canvasContainer{
    position: relative;
}
canvas {
    background: #000;
    display: block;
    position: relative;
    border-style: solid;
    border-color: green;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'invaders';
    font-size: 100px;
}

.buttonContainer {
    margin-top: 60px;
    float: right;
    display: inline-block;
    width: 20%;
    min-width: 300px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    margin-top: 5px;
}
.button:hover {
    background-color: rgb(46, 107, 48);
}

#muteAudio {
    border: none;
    background: transparent;
    padding: 15px 32px;
    display: block;
    font-size: 16px;
    width: 64px;
    height: 64px;
    margin-left: 40px;
}
#muteAudio.mute {
    background-image: url(./res/mute-2-64.png);
}
#muteAudio.sound {
    background-image: url(./res/volume-up-4-64.png);
} 

#gameContainer {
    display: inline-block;
    width: 60%;
    min-width: 600px;
}
#statusBar {
    position: relative;
}
#livesContainer {
    color: rgb(60, 206, 65);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 25%;
    float: left;
    margin-left: 200px;
}
.lives {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(./res/invaders.png) 58px 0px;
}
.score {
    display: inline-block;
    color: rgb(60, 206, 65);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
    float: right;
    margin-right: 120px;
}

.userguide {
    float: left;
    display: inline-block;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
    min-width: 300px;
    padding-top: 50px;
}

.hidden {
    display: none;
}

#endScreen {
    display: block;
    position: absolute;
    width: 200px;
    height: 260px;
    background-color: #FF0000;
    left: 50%;
    top: 50%;
    margin: -130px -100px;

    z-index: 1;
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#endScreen.hidden {
    display: none;
}

a {
    color: white;
}